

<body>
    

    <div class="card">

        <div class="card-header">

            <h1>Formulário De Perguntas</h1>

        </div>

        <div class="card-body">

            <form method="POST" action="/salvarPergunta">
                
                <label for="titulo">Titulo:</label>
                <input type="text" class="form-control" placeholder="Titulo" name="titulo"/><br />
    
                <label for="descricao">Descrição:</label>
                <textarea cols="30" rows="10" class="form-control" placeholder="Descrição" name="descricao"></textarea>
                <br />
    
                <button class="btn btn-danger">Enviar</button>
    
            </form>

        </div>
    </div>

</body>